header {
 font-family: Futura; Trebuchet MS;
 font-weight: bold condensed;
 color: #AC2B37; 
 font-size: 25px;
 padding: 3px;
}
h1{
 font-weight: bold;
 font-family: Arial;
 font-size: 20px;
 padding: 3px;
}
body {
 font-family: Arial;
 font-size: 15px;
 background-color: #ccc7;
}

footer{
 font-family: Arial;
 font-size: 10px;
 color: #A9B0B7; /*wpi grey very nice*/
 font-weight: italic;
}

p {
    padding:3px;
}

button{
	 /*center the button*/
	display: block;
	margin-left: auto;
	margin-right: auto;
 	
	margin-top: 4px;
	margin-bottom: 4px;
	border-style: solid;
 
/*set width and height for the button*/

	width: 250px;
	height: 100px;
}
